.members {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #888888;
  align-items: center;
  width: 250px;
  height: 350px;
  position: fixed;
  left: 100px;
  top: 60px;
}
.search {
  height: 50px;
  width: 100%;
  flex: 2;
  text-align: center;
  align-content: center;
  border-radius: 10px 10px 0 0;
}
.serachinput {
  height: 30px;
  width: 80%;
  border-radius: 5px;
  border: transparent;
  background-color: ghostwhite;
  padding-left: 20px;
}
.serachinput:hover {
  border: 1px saddlebrown solid;
}
.searchicon {
  position: absolute;
  left: 15px;
  top: 15px;
}
.body {
  width: 100%;
}
.buttons {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-top: 20px;
}
.meetbutton {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: transparent;
  background-color: blueviolet;
  color: aliceblue;
}
.schedulebutton {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: transparent;
}
@media (max-width: 768px) {
  .schedulebutton,
  .meetbutton,
  .buttons.searchicon,
  .serachinput,
  .search {
    display: none;
  }
  .members {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
    align-items: center;
    width: 50px;
    height: 250px;
    position: fixed;
    left: 100px;
    top: 60px;
  }
  .body {
    width: 100%;
    justify-content: center;
  }
}
