.chat {
  width: 1000px;
  height: 620px;
  position: fixed;
  top: 60px;
  left: 400px;
  box-shadow: 2px 2px 10px #888888;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}
.left {
  flex: 70%;
}
.right {
  flex: 20%;
  box-shadow: 2px 2px 10px #888888;
  display: flex;
  flex-direction: column;
}
.chatimg {
  width: 250px;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
  /* position: fixed;
  top: 80px; */
}
.rightUp {
  flex: 5;
}
.rightdown {
  flex: 6;
}
.info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.info span {
  font-size: smaller;
}
.iconchat {
  padding-top: 10px;
  height: 30px;
}
.icontop {
  height: 30px;
  padding-top: 15px;
}
.icontop span {
  padding: 5px;
  border: 1px solid rgb(193 193 193);
  border-radius: 50%;
  margin-right: 5px;
  color: darkgrey;
}

.iconchat span {
  padding: 10px;
  border: 1px solid rgb(193 193 193);
  border-radius: 50%;
  margin-right: 5px;
}
.one {
  background-color: #8a2be2;
  color: white;
}
.two {
  background-color: red;
  color: white;
  border: transparent;
}
.infouser {
  width: 20%;
  height: 18%;
  background-color: #ffffff;
  position: absolute;
  top: 160px;
  right: 25px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.imgcountainer {
  position: relative;
}
.userInformation {
  background-color: #ffffff;
  border-top: 1px solid rgb(193 193 193);
  border-bottom: 1px solid rgb(193 193 193);
  padding-left: 5px;
}
.phone {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.user {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.email {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}
.usergroup {
  background-color: #ffffff;
  border-bottom: 1px solid rgb(193 193 193);
  padding-left: 5px;
  height: 100px;
}
.usermadia {
  background-color: #ffffff;
  padding-left: 5px;
}
.up {
  border-bottom: 1px solid rgb(193 193 193);
  width: 750px;
  display: flex;
  justify-content: space-between;
}
.userinfo {
  font-size: small;
  font-weight: 500;
}

.typemessage {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(193 193 193);
  width: 750px;
  position: fixed;
  bottom: 50px;
  height: 55px;
}
.typemessage input:focus {
  outline: none;
}
.icons {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
}
.showChat {
  width: 750px;
  height: 490px;
  overflow: auto;
}
.rightchat {
  display: flex;
  padding-top: 10px;
}
.leftchat {
  text-align: left;
  padding-top: 10px;
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
}
.eachmessage {
  display: flex;
  padding-right: 20px;
  display: flex;
  padding-top: 10px;
}
.msg {
  padding-top: 10px;
}
.msgdiv {
  width: 300px;
  height: 60px;
  border: 1px solid #ccc;
  padding: 5px;
  /* overflow: auto; */
  word-wrap: break-word;
  box-shadow: 2px 2px 10px #888888;
  margin-top: 10px;
  border-radius: 0 10px 10px 10px;
}
.msgdivme {
  width: 300px;
  height: 60px;
  border: 1px solid #ccc;
  padding: 5px;
  /* overflow: auto; */
  word-wrap: break-word;
  box-shadow: 2px 2px 10px #888888;
  margin-top: 10px;
  margin-left: auto;
  background-color: #8a2be2;
  color: #ffffff;
  border-radius: 10px 0 10px 10px;
}
.form {
  display: flex;
  width: 750px;
  justify-content: space-between;
}
